body{
    font-family: Verdana;
    margin: 20px;
    text-align: center;
    background-color: skyblue;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.product{
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.product img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.product h2{
    margin-top: 0;
}
.product p{
    margin-bottom: 20px;
}
button{
    background-color:rgb(23, 150, 228);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color:rgb(23, 150, 228);
}
a{
    text-decoration: none;
    background-color: rgb(48, 146, 251);
    color: #0b0b0b;
    padding: 10px 20px;
    border-radius: 25px;
}
a:hover{
    background-color: rgb(23, 150, 228);
    font-weight: bold;
}